<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Adding the thruster units with the macro created in snippets.xacro -->
  <!--
    Important:
        - The thruster IDs must be given as integers and must be unique to each thruster unit
        - The thruster pose in the <origin> block is relative to the body's center of mass. Be
          aware that Gazebo does not use the SNAME convention per default.
    -->

  <xacro:T200_thruster_V2 robot_namespace="${namespace}" thruster_id="0">
    <origin xyz="0 -0.470946 0.120758" rpy="-${0.5*pi} 0 0 " />
  </xacro:T200_thruster_V2>

  <xacro:T200_thruster_V2 robot_namespace="${namespace}" thruster_id="1">
    <origin xyz="-0.10458 -0.470946 -0.060379" rpy="-${0.5*pi} 0 0" />
  </xacro:T200_thruster_V2>

  <xacro:T200_thruster_V2 robot_namespace="${namespace}" thruster_id="2">
    <origin xyz="0.10458 -0.470946 -0.060379" rpy="-${0.5*pi} 0 0" />
  </xacro:T200_thruster_V2>

  <!-- Instantiate fins, if necessary -->
  <!-- <xacro:fin_macro namespace="${namespace}" fin_id="0">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro>
    <xacro:fin_macro namespace="${namespace}" fin_id="1">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro>
    <xacro:fin_macro namespace="${namespace}" fin_id="2">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro>
    <xacro:fin_macro namespace="${namespace}" fin_id="3">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:fin_macro> -->

</robot>
