<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/thruster_snippets.xacro"/> -->
    <!-- <xacro:include filename="$(find muuv_sim_description)/urdf/colors.xacro"/> -->
    <!-- custom T200 Macro -->
    <xacro:macro name="T200_thruster" params="namespace thruster_id *origin">
        <!-- Run their generic thruster macro with t200 data -->
        <xacro:generic_thruster_macro namespace="${namespace}" thruster_id="${thruster_id}" mesh_filename="file://$(find muuv_sim_description)/meshes/T200_Thruster.dae">
            <xacro:insert_block name="origin"/>
            <xacro:rotor_dyn_first_order_macro time_constant="0.05"/>
            <!-- Values from the blue robotics data table -->
            <xacro:thruster_cf_linear_interp_macro input_values="-362.8 -300  -199.25 -101.55 -40.68 0 39.25 100.69 199.06 302.43 370" output_values="-39.9 -26.6 -11     -2.8    -0.49  0 0.49  3.5    14.1   33.5   51.5"/>
        </xacro:generic_thruster_macro>
        <!-- <material name="blue"/> -->
    </xacro:macro>

    <!-- T200 ish without the bugs -->
    <xacro:macro name="T200_thruster_V2" params="namespace thruster_id *origin">
        <!-- Run a thruster macro with t200 ish data -->
        <!-- ROTOR CONSTANT IS 10X BIGGER THAN IT SHOULD, SO SPEED VALUES NEED TO BE 10X SMALLER -->
        <!-- THIS PREVENTS GAZEBO WEIRDNESS -->
        <xacro:thruster_module_first_order_basic_fcn_macro namespace="${namespace}" thruster_id="${thruster_id}" mesh_filename="file://$(find muuv_sim_description)/meshes/T200_Thruster.dae" dyn_time_constant="0.05" rotor_constant="0.04">
            <xacro:insert_block name="origin"/>
        </xacro:thruster_module_first_order_basic_fcn_macro>
        <!-- <material name="blue"/> -->
    </xacro:macro>
</robot>